*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgb(14, 68, 218);
}

h1{
    display: inline-block;
    font-family: 'Fredoka One';
    color: rgb(252, 255, 47);
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d68c1c;
    text-shadow: 3px 3px #d68c1c;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.refresh{

    margin-top: 80px;
    margin-bottom: 80px;
    
    background-color: rgb(252, 255, 47);
    border-style: outset;
    border-color: #d68c1c;
    font-family: 'Fredoka One';
    color: white;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d68c1c;
    text-shadow: 3px 3px #d68c1c;
}

.refresh:hover{

    background-color: #000000; 
    transition: 0.5s;
    opacity: 0.7;
}


.square{

    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.o{
    position: relative;

}

.o:after{
    position: absolute;
    content: "\2B55";
    font-size: 55px;
    line-height: 100px;
    color: red;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;

}

.x:after{
    position: absolute;
    content: "\274C";
    font-size: 65px;
    line-height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

section{

    
    width: 100%;
    height: 180px;
    padding: 20px;
}

h3{
    display: inline-block;
    font-family: 'Fredoka One';
    color: rgb(252, 255, 47);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d68c1c;
    text-shadow: 3px 3px #d68c1c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instagram{
	list-style-image: url(/assets/instagram.png);
   
    display: inline;
    font-family: 'Fredoka One';
    color: rgb(252, 255, 47);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d68c1c;
    text-shadow: 3px 3px #d68c1c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.twitter{
	list-style-image: url(/assets/twitter.png);
    
    display: inline;
    font-family: 'Fredoka One';
    color: rgb(252, 255, 47);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d68c1c;
    text-shadow: 3px 3px #d68c1c;
    margin-top: 10px;
    
}